<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Domain.Properties.Settings.taoMeettingConnStr" connectionString="Data Source=202.85.219.234;Initial Catalog=TaoMeetting;User ID=sa;Password=ad818ad818A" />
  </connectionStrings>
</configuration>