<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="typeAliases" type="Spring.Context.Support.TypeAliasesSectionHandler, Spring.Core"/>
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
      <section name="context" type="Spring.Context.Support.WebContextHandler, Spring.Web"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
    <section name="databaseSettings" type="System.Configuration.NameValueSectionHandler"/>
    <section name="nhs-configuration" type="NHibernate.Search.Cfg.ConfigurationSectionHandler, NHibernate.Search" requirePermission="false"/>
    <section name="SpringOverrideProperty" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <connectionStrings>
    <add name="taoMeettingConnStr" connectionString="Data Source=202.85.219.234;Initial Catalog=TaoMeetting;User ID=ad818ad818A;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <databaseSettings>
    <!--<add key="db.connectionString" value="server=sql.w100.vhostgo.com;uid=luntai101;pwd=ad818ad818;database=luntai101"/>-->
    <add key="db.connectionString" value="server=202.85.219.234;uid=sa;pwd=ad818ad818A;database=TaoMeetting"/>
    <!--<add key="db.connectionString" value="Data Source=.;Initial Catalog=Giti;Integrated Security=True"/>-->
    <!--<add key="db.connectionString" value="Data Source=.;Initial Catalog=Giti;Integrated Security=True"/>-->
  </databaseSettings>
  <appSettings>
    <add key="ClientValidationEnabled" value="true"/> 
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="Spring.Data.NHibernate.Support.OpenSessionInViewModule.SessionFactoryObjectName" value="NHibernateSessionFactory"/>
  </appSettings>
  <SpringOverrideProperty>
    <add key="DbProvider.ConnectionString" value="Data Source=202.85.219.234;Initial Catalog=TaoMeetting;User ID=ad818ad818A;Trusted_Connection=False"/>
    <add key="SystemInit.IsDebug" value="true"/>
    <add key="SystemInit.Level" value="4"/>
  </SpringOverrideProperty>
  <nhs-configuration xmlns="urn:nhs-configuration-1.0">
    <search-factory sessionFactoryName="NHibernateSessionFactory">
      <property name="hibernate.search.default.directory_provider">
        NHibernate.Search.Store.FSDirectoryProvider,NHibernate.Search
      </property>
      <property name="hibernate.search.default.indexBase">
        ~/Index
      </property>
      <property name="hibernate.search.default.indexBase.create">
        true
      </property>
    </search-factory>
  </nhs-configuration>
  <spring>
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data"/>
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data"/>
    </parsers>
    <context>
      <resource uri="file://~\Config\Spring.NHibernate.Database.xml"/>
      <resource uri="file://~\Config\Transcation.xml"/>
      <resource uri="file://~\Config\Dao.xml"/>
      <resource uri="file://~\Config\Business.xml"/>
    </context>
  </spring>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Admin/Account/LogOn" defaultUrl="~/Admin/BrandInfo/Index" timeout="2880" />
    </authentication>
  
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>
  <location path="Admin">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
